<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Lisää vaihtoehto</title>
</head>

<body>
    <h1>Lisää vastausvaihtoehto</h1>

    <form method="post" th:action="@{'/kysely/' + ${kysymys.kysely.kyselyId} + '/addkysymys/' + ${kysymys.kysymysId} + '/addvaihtoehto'}">
        <div id="vaihtoehdot">
        <textarea name="vaihtoehto" placeholder="Kirjoita vaihtoehto tähän" required></textarea>
        </div><br>
        <button type="button" onclick="addChoice()">Lisää vaihtoehto</button>
        <button type="submit">Tallenna</button>
    </form>

    <script>

        function addChoice() {
            const container = document.getElementById("vaihtoehdot");

            const rivi = document.createElement("textarea");
            rivi.name = "vaihtoehto";
            rivi.placeholder = "Kirjoita vaihtoehto"
            rivi.required = true;

            container.appendChild(document.createElement("br"));
            container.appendChild(rivi);

        }
    </script>
</body>