<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Muokkaa kyselyä</title>
</head>
<body>
    <h1 th:text="${kysely.nimi}"></h1>
        <p th:text="${kysely.kuvaus}"></p>

    <h3>Kysymykset</h3>
    <ol>
        <li th:each="q : ${kysely.kysymykset}" th:text="${q.kysymys}"></li>
    </ol>

    <a th:href="@{'/kysely/' + ${kysely.kyselyId} + '/addkysymys'}">+ Lisää kysymys</a>
    <br><br>
    <a th:href="@{/etusivu}">Takaisin</a>
</body>
</html>