<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Kyselyt</title>
</head>
<body>
    <h1>Kyselyt</h1>
    <h3>Nimi Kuvaus</h3>
    <ul>
        <li th:each="kysely : ${kyselyt}">
            <a th:href="@{'/kysely/' + ${kysely.kyselyId}}" th:text="${kysely.nimi}"></a>
            <td th:text="${kysely.kuvaus}"></td>
        </li>
    </ul>
    <a th:href="@{/addkysely}">Lisää kysely</a>
</body>
</html>